<% @dinos.each do |dino| %>
  <div>
    <h1><%= dino.name %></h1><br />
    <i><%= dino.pronunciation %></i><br />
    <i><%= dino.era %></i><br />
    <i><%= dino.inhabited %></i><br />
    <i><%= dino.features %></i><br />
    <p><%= dino.description %></p><br />
  </div>

  <hr />
<% end %>